.todoList {
  max-width: 90%;
  margin: 0 auto;
  color: white;
  padding: 10px;
}

.listItem {
  display: flex;
  max-width: 90%;
  list-style-type: none;
  padding: 10px 5px;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.listItem::before {
  content: '\2618';
  color: #164339;
  margin-right: 8px;
}

.listItem:hover {
  background-color: #3dac94;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.listItem button {
  width: 25px;
  height: 25px;
  color: #c50000;
  margin-left: auto;
}
