@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&display=swap');
.App {
  max-width: 100;
  min-height: 100vh;
  background-color: #31a791;
  padding: 20px;
  font-family: 'Madimi One', sans-serif;
}
